/* Resetting default margin and padding for all elements */
* {
    margin: 0;
    padding: 0;
}

/* Body styling */
body {
    font-family: Arial, sans-serif;
    background-color: #f2f2f2;
    color: #333;
    line-height: 1.6;
    padding: 20px;
}

/* Add in your own customisations */

header {
    background-color: #93d0f4;
    display: flex;
    flex-direction: column;
    align-items: center;

}

h1 {
    color: white;
    font-size: 1.5em;
    padding: 0.5em;
}


#logo {
    max-width: 16em;
    margin-bottom: 1em;
}

h2 {
    font-size: 1.5em;
    margin-top: 1em;
}


p {
    font-size: 1.18em;
}


table {
    border-collapse: collapse;
    border: 1px solid #ddd;
    table-layout: fixed;
    width: 100%;
}


th, td {
    padding: 6px;
    text-align: left;
}

.tablehead {
    background-color: #bdbdbd;
}


a {
    color: #0079c1;
    text-decoration: none;
}

footer {
    background-color: #93d0f4;
    display: flex;
    justify-content: center;
    padding-top: 10px;
    padding-bottom: 10px;
    margin-top: 30px;

}

footer p {
    color: white;

}